@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

#header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 8rem;
	align-items: center;
	background-color: #FDF3F3;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}

.containerLogoTitulo {
	display: flex;
	align-items: center;
	margin-left: 4.5rem;
}

#menu {
	display: flex;
	list-style: none;
	margin-right: 8.5rem;
}

#menu a {
	margin-left: 5rem;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 1.6rem;
}

#btn-mobile {
	display: none;
}

#menu a:hover,
#menu a:active {
	color: #fab440;
}

.botaoNavbarContato {
	background-color: #E53939;
	color: #ffffff !important;
	padding: 1.2rem;
	border-radius: 0.5rem;
}

.botaoNavbarContato:hover {
	color: #ffffff;
	background-color: #f6b9b9;
}

/* --------------------------------------------------------------------- */

main {
	margin-top: 1rem;
}

/* --------------------------------------------------------------------- */

#containerLinks {
	background-color: #E53939;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.containerFooterInfos {
	padding: 5rem 0 2rem 0;
}

.containerLinks {
	display: flex;
	margin-bottom: 2rem;
}

.containerLinks div {
	width: auto;
	display: flex;
	flex-direction: column;
	margin: 0 5rem 0 5rem;
}

.containerLinks a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5rem;
}

.containerLinks h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.logo-branco {
	width: 24.3rem;
	height: 17rem;
	margin-right: 3rem;
}

footer p {
	text-align: center;
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 0.1rem solid #e4edff;
	font-size: 1.5rem;
}

.copyrightParagrfo a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.copyrightParagrfo a:hover {
	color: #fab440;
	font-weight: bold;
}

.copyrightParagrfo abbr {
	text-decoration: none;
}

/* RESPONSIVIDADE DO SITE */

@media screen and (min-width: 769px) and (max-width: 1230px) {
	#header {
		display: flex;
		flex-direction: column;
		height: 15rem;
		align-self: center;
			
		align-items: center;
	}
	.containerLogoTitulo {
		margin-top: 1.5rem;
	}
	#nav {
		margin-bottom: 2rem;
	}

	#menu {
		margin: 0px;
	}

	.botaoNavbarHome {
		margin: 0px !important;
	}

	#menu a {
		margin-left: 4rem;
	}

	.logo-branco,
	.catImageFooter {
		display: none;
	}
	#containerLinks {
		justify-content: center;
	}

	.containerPatinhas {
		margin: 5rem 5rem 0 5rem;
	}

	main {
		margin-top: 15rem !important;
	}
}

@media screen and (max-width: 768px) {
	.containerLogoTitulo {
		margin-left: 2.5rem;
	}

	#btn-mobile {
		display: block;
	}

	#menu {
		display: block;
		position: absolute;
		width: 100%;
		top: 8rem;
		right: 0px;
		background-color: #E53939;
		z-index: 1000;

		margin: 0;
		padding: 0;

		height: 0;
		transition: 0.6s;
		visibility: hidden;
		overflow-y: hidden;
	}

	#menu li {
		padding: 1.6rem 0;
		margin: 0 1.6rem;
		border-bottom: 0.2rem solid #fafbfe45;
	}
	#menu a {
		color: #ffffff;
		padding: 1.2rem !important;
	}

	#menu a:hover {
		background-color: #e4edff !important;
		color: #E53939 !important;
		border-radius: 0.5rem !important;
	}

	#nav.active #menu {
		height: calc(100vh - 80px);
		visibility: visible;
		overflow-y: auto;
	}

	#btn-mobile {
		display: flex;
		padding: 0.8rem 0.2rem;
		margin-right: 3.2rem;
		border: none;
		background: none;
		cursor: pointer;
	}

	#hamburger {
		width: 3.2rem;
		border-top: 0.3rem solid;
		color: #E53939;
	}

	#hamburger::after,
	#hamburger::before {
		content: "";
		display: block;
		width: 3.2rem;
		height: 0.3rem;
		background: currentColor;
		margin-top: 0.5rem;
		transition: 0.3s;
		position: relative;
	}

	#nav.active #hamburger {
		border-top-color: transparent;
	}

	#nav.active #hamburger::before {
		transform: rotate(135deg);
	}

	#nav.active #hamburger::after {
		transform: rotate(-135deg);
		top: -0.8rem;
	}

	.botaoNavbarCadastro {
		background-color: #fafbfe !important;
		color: #E53939 !important;
	}

	.botaoNavbarCadastro:hover {
		background-color: #fab440 !important;
		color: #e4edff !important;
		padding: 1.2rem !important;
		border-radius: 0.5rem !important;
	}

	.logo-branco,
	.catImageFooter {
		display: none;
	}
	#containerLinks {
		justify-content: center;
	}

	.containerPatinhas {
		margin: 5rem 5rem 0 5rem;
	}

	.containerLinks {
		flex-direction: column;
		text-align: left;
	}

	.containerLinks div {
		margin-top: 3.2rem;
	}

	.containerLinks a {
		margin: 0.8rem 1rem;
	}

	.containerLinks h3 {
		text-align: left;
		margin-bottom: 1.5rem;
	}

	.containerFooterInfos p {
		margin: 0 5rem !important;
	}
}

@media screen and (max-width: 500px) {
	.containerPatinhas {
		display: none;
	}

	.containerLogoTitulo {
		margin-left: 0px;
	}

	.logoSite {
		/* scale: 0.7; */
		width: 8rem;
		height: auto;
		margin-left: 1.2rem;
	}
}

@media screen and (max-width: 320px) {
	#header {
		height: 12rem;
	}

	.containerLogoTitulo {
		margin: auto;
		flex-direction: column;
		justify-content: center;
	}

	.logoSite {
		scale: 0.7;
	}

	main {
		margin-top: 12rem !important;
	}
}
